// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.bg-accent {
    background-color: $accent;
}

.accent {
    color: $accent;
}

.border-accent {
    border-color: $accent;
}

.faults {
    overflow-y: scroll;
    scroll-behavior: smooth;
    scrollbar-color: $accent;
    height: 80px;
}

.faults-big {
    overflow-y: auto;
}

.equ-card {
    max-height: 686px;
    height: 650px;
}

.card-img-form img {
    max-height: 150px;
}