// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

@media (max-width(1900px)) {
    .card-holder {
        max-width: 1fr;
    }
    .equ-card {
        max-width: max-content;
        width: 2fr;
    }
}

.bg-accent {
    background-color: $accent;
}

.accent {
    color: $accent;
}

.border-accent {
    border-color: $accent;
}

.faults {
    overflow-y: scroll;
    scroll-behavior: smooth;
    scrollbar-color: $accent;
    height: 80px;
}

.faults-big {
    overflow-y: auto;
}

.equ-card {
    max-height: 686px;
    height: 650px;
    width: min-content;
    max-width: 400px;
}

.card-img-form img {
    max-height: 150px;
    width: fit-content;
}

.equ-card-title {
    backdrop-filter: brightness(75%);
    border-radius: 10px;
    width: fit-content;
}

form input {
    width: inherit;
}
